@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    height: 20vh;
    background-color: black;
}

body {
    background-color: rgb(13, 13, 13);
}

/* nav */
nav {
    padding: 0 20vw;
    height: 4vh;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.nav__option a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* footer */
footer {
    height: 4vh;
    background-color: black;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    text-align: center;
    vertical-align: center;
    line-height: 4vh;
    color: white;
}

footer a {
    color: white;
}