/* songs */
#songs {
    background-color: rgb(13, 13, 13);
}

#songs__card_container {
    display: flex;
    flex-wrap: wrap;
}

#songs__header {
    height: 8vh;
    text-align: center;
    line-height: 8vh;
}

.song {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;

    padding: 50px;
    min-width: 50%;
    max-width: 50%;
    min-height: 44vh;
    max-height: 44vh;
    background-color: red;
    border: 1px solid black;
}

.song__album_cover {
    width: 300px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 0 30px black;
    border-radius: 2%;
}

#wish_you_were_here .song__album_cover {
    background-image: url(../resources/img/album_cover_wywh.jpg);
    opacity: 1;
}

#another_brick_on_the_wall_pt2 .song__album_cover, #comfortably_numb .song__album_cover {
    background-image: url(../resources/img/album_cover_tw.jpg);
}

#time .song__album_cover {
    background-image: url(../resources/img/album_cover_tdsotm.jpg);
}

.song__summary {
    border: 1px solid black;
    margin-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.song__summary .song__header{
    font-weight: bolder;
    font-size: x-large;
}

.song__spotify_embed iframe {
    border-radius: 2%;
    width: 60%;
}

