@charset "UTF-8";

h2 {
    font-size: 32px;
    line-height: 7vh;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
}

#form_wrapper {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 72vh;
}

#form_container {
    width: 60%;
    height: 100%;
    padding: 5vh;
    background-color: blue;
}

#form_image {
    width: 40%;
    height: 100%;
    background-color: red;
}