@charset "UTF-8";

* {
    color: white;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#participants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    line-height: 7vh;
}

#participants__container {
    height: 69vh;
    background-color: red;
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.participant {
    padding: 2% 2%;
    width: 25%;
    height: 100%;
    position: relative;
}

#roger_waters {
    background-image: url(../resources/img/roger_waters.jpg);
    background-size: cover;
}

#david_gilmour {
    background-image: url(../resources/img/david_gilmour.jpg);
    background-size: cover;
    background-position-x: 55vh;
}

#richard_wright {
    background-image: url(../resources/img/richard_wright.webp);
    background-size: 65vh;
    background-position-x: 55vh;
    background-position-y: 70vh;
}

#nick_mason {
    background-image: url(../resources/img/nick_mason.jpg);
    background-size: cover;
    background-position-x: 65vh;
}

.participant_header {
    display: none;
    font-size: 54px;
    font-weight: 900;
    color: white;
    position: absolute;
    bottom: 0;
}

.participant:hover>.participant_header {
    display: block;
    text-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
}

#albums {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#albums__container {
    width: 60vw;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album {
    padding: 4%;
    width: 20vw;
    height: 20vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.black {
    color: black;
}

a {
    margin: 0;
    padding: 0;
}

.album>h3 {
    visibility: hidden;
    font-size: 2rem;
    font-weight: 100;
}

.album>h2 {
    visibility: hidden;
    margin-top: 1rem;
    font-size: 7rem;
    font-weight: bolder;
}

.album:hover>h3 {
    visibility: visible;
    text-shadow: 0px 0px 10px black;
}

.album:hover>h2 {
    visibility: visible;
    text-shadow: 0px 0px 30px black;
}


#the_later_years {
    background-image: url(../resources/img/covers/1_the_later_years.jpeg);
}

#the_endless_river {
    background-image: url(../resources/img/covers/2_the_endless_river.jpeg);
}

#pulse {
    background-image: url(../resources/img/covers/3_pulse.jpg);
}

#the_division_bell {
    background-image: url(../resources/img/covers/4_the_division_bell.jpg);
}

#delicate_sound_of_thunder {
    background-image: url(../resources/img/covers/5_delicate_sound_of_thunder.webp);
}

#momentary_lapse_of_reason {
    background-image: url(../resources/img/covers/6_momentary_lapse_of_reason.jpg);
}

#the_final_cut {
    background-image: url(../resources/img/covers/7_the_final_cut.jpg);
}

#the_wall {
    background-image: url(../resources/img/covers/8_the_wall.webp);
}

#animals {
    background-image: url(../resources/img/covers/9_animals.jpg);
}

#wish_you_were_here {
    background-image: url(../resources/img/covers/10_wish_you_were_here.jpg);
}

#the_dark_side_of_the_moon {
    background-image: url(../resources/img/covers/11_the_dark_side_of_the_moon.webp);
}

#obscured_by_clouds {
    background-image: url(../resources/img/covers/12_obscured_by_clouds.webp);
}

#meddle {
    background-image: url(../resources/img/covers/13_meddle.jpg);
}

#atom_heart_mother {
    background-image: url(../resources/img/covers/14_atom_heart_mother.webp);
}

#ummagumma {
    background-image: url(../resources/img/covers/15_ummagumma.jpg);
}

#more {
    background-image: url(../resources/img/covers/16_more.jpg);
}

#a_saurceful_of_secrets {
    background-image: url(../resources/img/covers/17_a_saurceful_of_secrets.jpg);
}

#the_piper_at_the_gates_of_dawn {
    background-image: url(../resources/img/covers/18_the_piper_at_the_gates_of_dawn.jpg);
}